# Data Merging and Organization

The purpose of this notebook is to upload and organize data from the table generator tool and split it up by years. Each set of years is stored in a different dataframe and exported to a .csv file.

### Uploading Data
Data had to be obtained in 7 separate parts because the table generator tool only allowed for a max of 75 columns per session. 
The goal now is to merge all files together by 'School ID - NCES Assigned [Public School] Latest available year' and delete repeated columns: 'School Name', and 'State Name [Public School] Latest available year'

In [48]:
import pandas as pd

# Add data files to team project directory and check
#%ls

# Upload the 7 data files
part1 = pd.read_csv('all_years_1.csv', na_values = '-')
part2 = pd.read_csv('all_years_2.csv', na_values = '-')
part3 = pd.read_csv('all_years_3.csv', na_values = '-')
part4 = pd.read_csv('all_years_4.csv', na_values = '-')
part5 = pd.read_csv('all_years_5.csv', na_values = '-')
part6 = pd.read_csv('all_years_6.csv', na_values = '-')
part7 = pd.read_csv('all_years_7.csv', na_values = '-')

# Drop 'School Name', and 'State Name [Public School] Latest available year' columns
part2.drop(columns = ['School Name','State Name [Public School] Latest available year'])
part3.drop(columns = ['School Name','State Name [Public School] Latest available year'])
part4.drop(columns = ['School Name','State Name [Public School] Latest available year'])
part5.drop(columns = ['School Name','State Name [Public School] Latest available year'])
part6.drop(columns = ['School Name','State Name [Public School] Latest available year'])
part7.drop(columns = ['School Name','State Name [Public School] Latest available year'])

# Merge by 'School ID - NCES Assigned [Public School] Latest available year'
merged = part1.merge(part2, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged = merged.merge(part3, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged = merged.merge(part4, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged = merged.merge(part5, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged = merged.merge(part6, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged = merged.merge(part7, how='outer', on='School ID - NCES Assigned [Public School] Latest available year')
merged.info()
merged.head()

C:\Users\yessi\anaconda3\lib\site-packages\pandas\core\frame.py:9190: FutureWarning: Passing 'suffixes' which cause duplicate columns {'School Name_x', 'State Name [Public School] Latest available year_x'} in the result is deprecated and will raise a MergeError in a future version.
  return merge(

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68817 entries, 0 to 68816
Columns: 424 entries, School Name_x to Free Lunch Eligible [Public School] 1987-88
dtypes: object(424)
memory usage: 223.1+ MB

,School Name_x,State Name [Public School] Latest available year_x,School ID - NCES Assigned [Public School] Latest available year,Agency ID - NCES Assigned [Public School] Latest available year,County Number [Public School] 2019-20,County Name [Public School] 2019-20,School Type [Public School] 2019-20,Charter School [Public School] 2019-20,Magnet School [Public School] 2019-20,Shared Time School [Public School] 2019-20,...,Free Lunch Eligible [Public School] 1996-97,Free Lunch Eligible [Public School] 1995-96,Free Lunch Eligible [Public School] 1994-95,Free Lunch Eligible [Public School] 1993-94,Free Lunch Eligible [Public School] 1992-93,Free Lunch Eligible [Public School] 1991-92,Free Lunch Eligible [Public School] 1990-91,Free Lunch Eligible [Public School] 1989-90,Free Lunch Eligible [Public School] 1988-89,Free Lunch Eligible [Public School] 1987-88
0,"=""03-MM""",Florida,120150006730,1201500,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
1,113-H-W-4,FLORIDA,120144008827,1201440,12095,Orange County,1-Regular school,2-No,†,†,...,†,†,†,†,†,†,†,†,†,†
2,118-E-SW-5,FLORIDA,120144008672,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
3,12-E-C-1,Florida,120144007627,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
4,132-M-W-4,FLORIDA,120144008872,1201440,12095,Orange County,1-Regular school,2-No,†,†,...,†,†,†,†,†,†,†,†,†,†

In [47]:
# create new csv file with entire dataset
merged.to_csv('all_data.csv')

# list of all column names for each year in data set
my_list = list(merged)
print (my_list)

['School Name_x', 'State Name [Public School] Latest available year_x', 'School ID - NCES Assigned [Public School] Latest available year', 'Agency ID - NCES Assigned [Public School] Latest available year', 'County Number [Public School] 2019-20', 'County Name [Public School] 2019-20', 'School Type [Public School] 2019-20', 'Charter School [Public School] 2019-20', 'Magnet School [Public School] 2019-20', 'Shared Time School [Public School] 2019-20', 'Locale [Public School] 2005-06', 'School-wide Title I [Public School] 2019-20', 'School-wide Title I [Public School] 2018-19', 'School-wide Title I [Public School] 2017-18', 'School-wide Title I [Public School] 2016-17', 'School-wide Title I [Public School] 2015-16', 'School-wide Title I [Public School] 2014-15', 'School-wide Title I [Public School] 2013-14', 'School-wide Title I [Public School] 2012-13', 'School-wide Title I [Public School] 2011-12', 'School-wide Title I [Public School] 2010-11', 'School-wide Title I [Public School] 2009-10', 'School-wide Title I [Public School] 2008-09', 'School-wide Title I [Public School] 2007-08', 'School-wide Title I [Public School] 2006-07', 'School-wide Title I [Public School] 2005-06', 'School-wide Title I [Public School] 2004-05', 'School-wide Title I [Public School] 2003-04', 'School-wide Title I [Public School] 2002-03', 'School-wide Title I [Public School] 2001-02', 'School-wide Title I [Public School] 2000-01', 'School-wide Title I [Public School] 1999-00', 'School-wide Title I [Public School] 1998-99', 'Total Students All Grades (Excludes AE) [Public School] 2019-20', 'Total Students All Grades (Excludes AE) [Public School] 2018-19', 'Total Students All Grades (Excludes AE) [Public School] 2017-18', 'Total Students All Grades (Excludes AE) [Public School] 2016-17', 'Total Students All Grades (Excludes AE) [Public School] 2015-16', 'Total Students All Grades (Excludes AE) [Public School] 2014-15', 'Total Students All Grades (Excludes AE) [Public School] 2013-14', 'Total Students All Grades (Excludes AE) [Public School] 2012-13', 'Total Students All Grades (Excludes AE) [Public School] 2011-12', 'Total Students All Grades (Excludes AE) [Public School] 2010-11', 'Total Students All Grades (Excludes AE) [Public School] 2009-10', 'Total Students All Grades (Excludes AE) [Public School] 2008-09', 'Total Students All Grades (Excludes AE) [Public School] 2007-08', 'Total Students All Grades (Excludes AE) [Public School] 2006-07', 'Total Students All Grades (Excludes AE) [Public School] 2005-06', 'Total Students All Grades (Excludes AE) [Public School] 2004-05', 'Total Students All Grades (Excludes AE) [Public School] 2003-04', 'Total Students All Grades (Excludes AE) [Public School] 2002-03', 'Total Students All Grades (Excludes AE) [Public School] 2001-02', 'Total Students All Grades (Excludes AE) [Public School] 2000-01', 'Total Students All Grades (Excludes AE) [Public School] 1999-00', 'Total Students All Grades (Excludes AE) [Public School] 1998-99', 'Total Students All Grades (Excludes AE) [Public School] 1997-98', 'Total Students All Grades (Excludes AE) [Public School] 1996-97', 'Total Students All Grades (Excludes AE) [Public School] 1995-96', 'Total Students All Grades (Excludes AE) [Public School] 1994-95', 'Total Students All Grades (Excludes AE) [Public School] 1993-94', 'Total Students All Grades (Excludes AE) [Public School] 1992-93', 'Total Students All Grades (Excludes AE) [Public School] 1991-92', 'Total Students All Grades (Excludes AE) [Public School] 1990-91', 'Total Students All Grades (Excludes AE) [Public School] 1989-90', 'Total Students All Grades (Excludes AE) [Public School] 1988-89', 'Total Students All Grades (Excludes AE) [Public School] 1987-88', 'Total Students All Grades (Excludes AE) [Public School] 1986-87', 'School Name_y', 'State Name [Public School] Latest available year_y', 'Free and Reduced Lunch Students [Public School] 2019-20', 'Free and Reduced Lunch Students [Public School] 2018-19', 'Free and Reduced Lunch Students [Public School] 2017-18', 'Free and Reduced Lunch Students [Public School] 2016-17', 'Free and Reduced Lunch Students [Public School] 2015-16', 'Free and Reduced Lunch Students [Public School] 2014-15', 'Free and Reduced Lunch Students [Public School] 2013-14', 'Free and Reduced Lunch Students [Public School] 2012-13', 'Free and Reduced Lunch Students [Public School] 2011-12', 'Free and Reduced Lunch Students [Public School] 2010-11', 'Free and Reduced Lunch Students [Public School] 2009-10', 'Free and Reduced Lunch Students [Public School] 2008-09', 'Free and Reduced Lunch Students [Public School] 2007-08', 'Free and Reduced Lunch Students [Public School] 2006-07', 'Free and Reduced Lunch Students [Public School] 2005-06', 'Free and Reduced Lunch Students [Public School] 2004-05', 'Free and Reduced Lunch Students [Public School] 2003-04', 'Free and Reduced Lunch Students [Public School] 2002-03', 'Free and Reduced Lunch Students [Public School] 2001-02', 'Free and Reduced Lunch Students [Public School] 2000-01', 'Free and Reduced Lunch Students [Public School] 1999-00', 'Free and Reduced Lunch Students [Public School] 1998-99', 'Male Students [Public School] 2019-20', 'Male Students [Public School] 2018-19', 'Male Students [Public School] 2017-18', 'Male Students [Public School] 2016-17', 'Male Students [Public School] 2015-16', 'Male Students [Public School] 2014-15', 'Male Students [Public School] 2013-14', 'Male Students [Public School] 2012-13', 'Male Students [Public School] 2011-12', 'Male Students [Public School] 2010-11', 'Male Students [Public School] 2009-10', 'Male Students [Public School] 2008-09', 'Male Students [Public School] 2007-08', 'Male Students [Public School] 2006-07', 'Male Students [Public School] 2005-06', 'Male Students [Public School] 2004-05', 'Male Students [Public School] 2003-04', 'Male Students [Public School] 2002-03', 'Male Students [Public School] 2001-02', 'Male Students [Public School] 2000-01', 'Male Students [Public School] 1999-00', 'Male Students [Public School] 1998-99', 'Female Students [Public School] 2019-20', 'Female Students [Public School] 2018-19', 'Female Students [Public School] 2017-18', 'Female Students [Public School] 2016-17', 'Female Students [Public School] 2015-16', 'Female Students [Public School] 2014-15', 'Female Students [Public School] 2013-14', 'Female Students [Public School] 2012-13', 'Female Students [Public School] 2011-12', 'Female Students [Public School] 2010-11', 'Female Students [Public School] 2009-10', 'Female Students [Public School] 2008-09', 'Female Students [Public School] 2007-08', 'Female Students [Public School] 2006-07', 'Female Students [Public School] 2005-06', 'Female Students [Public School] 2004-05', 'Female Students [Public School] 2003-04', 'Female Students [Public School] 2002-03', 'Female Students [Public School] 2001-02', 'Female Students [Public School] 2000-01', 'Female Students [Public School] 1999-00', 'Female Students [Public School] 1998-99', 'School Name_x', 'State Name [Public School] Latest available year_x', 'American Indian/Alaska Native Students [Public School] 2019-20', 'American Indian/Alaska Native Students [Public School] 2018-19', 'American Indian/Alaska Native Students [Public School] 2017-18', 'American Indian/Alaska Native Students [Public School] 2016-17', 'American Indian/Alaska Native Students [Public School] 2015-16', 'American Indian/Alaska Native Students [Public School] 2014-15', 'American Indian/Alaska Native Students [Public School] 2013-14', 'American Indian/Alaska Native Students [Public School] 2012-13', 'American Indian/Alaska Native Students [Public School] 2011-12', 'American Indian/Alaska Native Students [Public School] 2010-11', 'American Indian/Alaska Native Students [Public School] 2009-10', 'American Indian/Alaska Native Students [Public School] 2008-09', 'American Indian/Alaska Native Students [Public School] 2007-08', 'American Indian/Alaska Native Students [Public School] 2006-07', 'American Indian/Alaska Native Students [Public School] 2005-06', 'American Indian/Alaska Native Students [Public School] 2004-05', 'American Indian/Alaska Native Students [Public School] 2003-04', 'American Indian/Alaska Native Students [Public School] 2002-03', 'American Indian/Alaska Native Students [Public School] 2001-02', 'American Indian/Alaska Native Students [Public School] 2000-01', 'American Indian/Alaska Native Students [Public School] 1999-00', 'American Indian/Alaska Native Students [Public School] 1998-99', 'American Indian/Alaska Native Students [Public School] 1997-98', 'American Indian/Alaska Native Students [Public School] 1996-97', 'American Indian/Alaska Native Students [Public School] 1995-96', 'American Indian/Alaska Native Students [Public School] 1994-95', 'American Indian/Alaska Native Students [Public School] 1993-94', 'American Indian/Alaska Native Students [Public School] 1992-93', 'American Indian/Alaska Native Students [Public School] 1991-92', 'American Indian/Alaska Native Students [Public School] 1990-91', 'American Indian/Alaska Native Students [Public School] 1989-90', 'American Indian/Alaska Native Students [Public School] 1988-89', 'American Indian/Alaska Native Students [Public School] 1987-88', 'Asian or Asian/Pacific Islander Students [Public School] 2019-20', 'Asian or Asian/Pacific Islander Students [Public School] 2018-19', 'Asian or Asian/Pacific Islander Students [Public School] 2017-18', 'Asian or Asian/Pacific Islander Students [Public School] 2016-17', 'Asian or Asian/Pacific Islander Students [Public School] 2015-16', 'Asian or Asian/Pacific Islander Students [Public School] 2014-15', 'Asian or Asian/Pacific Islander Students [Public School] 2013-14', 'Asian or Asian/Pacific Islander Students [Public School] 2012-13', 'Asian or Asian/Pacific Islander Students [Public School] 2011-12', 'Asian or Asian/Pacific Islander Students [Public School] 2010-11', 'Asian or Asian/Pacific Islander Students [Public School] 2009-10', 'Asian or Asian/Pacific Islander Students [Public School] 2008-09', 'Asian or Asian/Pacific Islander Students [Public School] 2007-08', 'Asian or Asian/Pacific Islander Students [Public School] 2006-07', 'Asian or Asian/Pacific Islander Students [Public School] 2005-06', 'Asian or Asian/Pacific Islander Students [Public School] 2004-05', 'Asian or Asian/Pacific Islander Students [Public School] 2003-04', 'Asian or Asian/Pacific Islander Students [Public School] 2002-03', 'Asian or Asian/Pacific Islander Students [Public School] 2001-02', 'Asian or Asian/Pacific Islander Students [Public School] 2000-01', 'Asian or Asian/Pacific Islander Students [Public School] 1999-00', 'Asian or Asian/Pacific Islander Students [Public School] 1998-99', 'Asian or Asian/Pacific Islander Students [Public School] 1997-98', 'Asian or Asian/Pacific Islander Students [Public School] 1996-97', 'Asian or Asian/Pacific Islander Students [Public School] 1995-96', 'Asian or Asian/Pacific Islander Students [Public School] 1994-95', 'Asian or Asian/Pacific Islander Students [Public School] 1993-94', 'Asian or Asian/Pacific Islander Students [Public School] 1992-93', 'Asian or Asian/Pacific Islander Students [Public School] 1991-92', 'Asian or Asian/Pacific Islander Students [Public School] 1990-91', 'Asian or Asian/Pacific Islander Students [Public School] 1989-90', 'Asian or Asian/Pacific Islander Students [Public School] 1988-89', 'Asian or Asian/Pacific Islander Students [Public School] 1987-88', 'School Name_y', 'State Name [Public School] Latest available year_y', 'Hispanic Students [Public School] 2019-20', 'Hispanic Students [Public School] 2018-19', 'Hispanic Students [Public School] 2017-18', 'Hispanic Students [Public School] 2016-17', 'Hispanic Students [Public School] 2015-16', 'Hispanic Students [Public School] 2014-15', 'Hispanic Students [Public School] 2013-14', 'Hispanic Students [Public School] 2012-13', 'Hispanic Students [Public School] 2011-12', 'Hispanic Students [Public School] 2010-11', 'Hispanic Students [Public School] 2009-10', 'Hispanic Students [Public School] 2008-09', 'Hispanic Students [Public School] 2007-08', 'Hispanic Students [Public School] 2006-07', 'Hispanic Students [Public School] 2005-06', 'Hispanic Students [Public School] 2004-05', 'Hispanic Students [Public School] 2003-04', 'Hispanic Students [Public School] 2002-03', 'Hispanic Students [Public School] 2001-02', 'Hispanic Students [Public School] 2000-01', 'Hispanic Students [Public School] 1999-00', 'Hispanic Students [Public School] 1998-99', 'Hispanic Students [Public School] 1997-98', 'Hispanic Students [Public School] 1996-97', 'Hispanic Students [Public School] 1995-96', 'Hispanic Students [Public School] 1994-95', 'Hispanic Students [Public School] 1993-94', 'Hispanic Students [Public School] 1992-93', 'Hispanic Students [Public School] 1991-92', 'Hispanic Students [Public School] 1990-91', 'Hispanic Students [Public School] 1989-90', 'Hispanic Students [Public School] 1988-89', 'Hispanic Students [Public School] 1987-88', 'Black or African American Students [Public School] 2019-20', 'Black or African American Students [Public School] 2018-19', 'Black or African American Students [Public School] 2017-18', 'Black or African American Students [Public School] 2016-17', 'Black or African American Students [Public School] 2015-16', 'Black or African American Students [Public School] 2014-15', 'Black or African American Students [Public School] 2013-14', 'Black or African American Students [Public School] 2012-13', 'Black or African American Students [Public School] 2011-12', 'Black or African American Students [Public School] 2010-11', 'Black or African American Students [Public School] 2009-10', 'Black or African American Students [Public School] 2008-09', 'Black or African American Students [Public School] 2007-08', 'Black or African American Students [Public School] 2006-07', 'Black or African American Students [Public School] 2005-06', 'Black or African American Students [Public School] 2004-05', 'Black or African American Students [Public School] 2003-04', 'Black or African American Students [Public School] 2002-03', 'Black or African American Students [Public School] 2001-02', 'Black or African American Students [Public School] 2000-01', 'Black or African American Students [Public School] 1999-00', 'Black or African American Students [Public School] 1998-99', 'Black or African American Students [Public School] 1997-98', 'Black or African American Students [Public School] 1996-97', 'Black or African American Students [Public School] 1995-96', 'Black or African American Students [Public School] 1994-95', 'Black or African American Students [Public School] 1993-94', 'Black or African American Students [Public School] 1992-93', 'Black or African American Students [Public School] 1991-92', 'Black or African American Students [Public School] 1990-91', 'Black or African American Students [Public School] 1989-90', 'Black or African American Students [Public School] 1988-89', 'Black or African American Students [Public School] 1987-88', 'School Name_x', 'State Name [Public School] Latest available year_x', 'White Students [Public School] 2019-20', 'White Students [Public School] 2018-19', 'White Students [Public School] 2017-18', 'White Students [Public School] 2016-17', 'White Students [Public School] 2015-16', 'White Students [Public School] 2014-15', 'White Students [Public School] 2013-14', 'White Students [Public School] 2012-13', 'White Students [Public School] 2011-12', 'White Students [Public School] 2010-11', 'White Students [Public School] 2009-10', 'White Students [Public School] 2008-09', 'White Students [Public School] 2007-08', 'White Students [Public School] 2006-07', 'White Students [Public School] 2005-06', 'White Students [Public School] 2004-05', 'White Students [Public School] 2003-04', 'White Students [Public School] 2002-03', 'White Students [Public School] 2001-02', 'White Students [Public School] 2000-01', 'White Students [Public School] 1999-00', 'White Students [Public School] 1998-99', 'White Students [Public School] 1997-98', 'White Students [Public School] 1996-97', 'White Students [Public School] 1995-96', 'White Students [Public School] 1994-95', 'White Students [Public School] 1993-94', 'White Students [Public School] 1992-93', 'White Students [Public School] 1991-92', 'White Students [Public School] 1990-91', 'White Students [Public School] 1989-90', 'White Students [Public School] 1988-89', 'White Students [Public School] 1987-88', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2019-20', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2018-19', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2017-18', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2016-17', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2015-16', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2014-15', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2013-14', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2012-13', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2011-12', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2010-11', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2009-10', 'Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2008-09', 'Two or More Races Students [Public School] 2019-20', 'Two or More Races Students [Public School] 2018-19', 'Two or More Races Students [Public School] 2017-18', 'Two or More Races Students [Public School] 2016-17', 'Two or More Races Students [Public School] 2015-16', 'Two or More Races Students [Public School] 2014-15', 'Two or More Races Students [Public School] 2013-14', 'Two or More Races Students [Public School] 2012-13', 'Two or More Races Students [Public School] 2011-12', 'Two or More Races Students [Public School] 2010-11', 'Two or More Races Students [Public School] 2009-10', 'Two or More Races Students [Public School] 2008-09', 'School Name_y', 'State Name [Public School] Latest available year_y', 'Full-Time Equivalent (FTE) Teachers [Public School] 2019-20', 'Full-Time Equivalent (FTE) Teachers [Public School] 2018-19', 'Full-Time Equivalent (FTE) Teachers [Public School] 2017-18', 'Full-Time Equivalent (FTE) Teachers [Public School] 2016-17', 'Full-Time Equivalent (FTE) Teachers [Public School] 2015-16', 'Full-Time Equivalent (FTE) Teachers [Public School] 2014-15', 'Full-Time Equivalent (FTE) Teachers [Public School] 2013-14', 'Full-Time Equivalent (FTE) Teachers [Public School] 2012-13', 'Full-Time Equivalent (FTE) Teachers [Public School] 2011-12', 'Full-Time Equivalent (FTE) Teachers [Public School] 2010-11', 'Full-Time Equivalent (FTE) Teachers [Public School] 2009-10', 'Full-Time Equivalent (FTE) Teachers [Public School] 2008-09', 'Full-Time Equivalent (FTE) Teachers [Public School] 2007-08', 'Full-Time Equivalent (FTE) Teachers [Public School] 2006-07', 'Full-Time Equivalent (FTE) Teachers [Public School] 2005-06', 'Full-Time Equivalent (FTE) Teachers [Public School] 2004-05', 'Full-Time Equivalent (FTE) Teachers [Public School] 2003-04', 'Full-Time Equivalent (FTE) Teachers [Public School] 2002-03', 'Full-Time Equivalent (FTE) Teachers [Public School] 2001-02', 'Full-Time Equivalent (FTE) Teachers [Public School] 2000-01', 'Full-Time Equivalent (FTE) Teachers [Public School] 1999-00', 'Full-Time Equivalent (FTE) Teachers [Public School] 1998-99', 'Full-Time Equivalent (FTE) Teachers [Public School] 1997-98', 'Full-Time Equivalent (FTE) Teachers [Public School] 1996-97', 'Full-Time Equivalent (FTE) Teachers [Public School] 1995-96', 'Full-Time Equivalent (FTE) Teachers [Public School] 1994-95', 'Full-Time Equivalent (FTE) Teachers [Public School] 1993-94', 'Full-Time Equivalent (FTE) Teachers [Public School] 1992-93', 'Full-Time Equivalent (FTE) Teachers [Public School] 1991-92', 'Full-Time Equivalent

### Separate Data by Year

We can see above that there are  424 different columns. To organize the data we will split the data into 5 sections: Ground Truth Labeling, Feature Selection, Modeling, Model Selection, and Test data. Since Title 1 designation is not available for the years prior to the 1998-1999 school year, we will use school years 1998-2003 for Ground Truth Labeling, 2003-2008 for Feature Selection, and 2008-2018 for Modeling for the Midterm Check In and will make adjustments for adjustments for the project submission.

In [49]:
# create new dataframe for years 1998-2003
all_years = ['School Name', 'State Name [Public School] Latest available year', 
             'School ID - NCES Assigned [Public School] Latest available year', 
             'Agency ID - NCES Assigned [Public School] Latest available year', 'County Number [Public School] 2019-20']
year1998 = [col for col in merged.columns if '1998-99' in col]
year1999 = [col for col in merged.columns if '1999-00' in col]
year2000 = [col for col in merged.columns if '2000-01' in col]
year2001 = [col for col in merged.columns if '2001-02' in col]
year2002 = [col for col in merged.columns if '2002-03' in col]

total = all_years + year1998 + year1999 + year2000 + year2001 + year2002
years_1998_2003 = merged[total]
groundtruth = years_1998_2003.copy()
groundtruth.info()
groundtruth.to_csv('groundtruth_98_to_03.csv')
groundtruth.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68817 entries, 0 to 68816
Data columns (total 70 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   School Name                                                       68013 non-null  object
 1   State Name [Public School] Latest available year                  51629 non-null  object
 2   School ID - NCES Assigned [Public School] Latest available year   52433 non-null  object
 3   Agency ID - NCES Assigned [Public School] Latest available year   52433 non-null  object
 4   County Number [Public School] 2019-20                             52433 non-null  object
 5   School-wide Title I [Public School] 1998-99                       52433 non-null  object
 6   Total Students All Grades (Excludes AE) [Public School] 1998-99   52433 non-null  object
 7   Free and Reduced Lunch Students [Public School] 1998-99           46576 non-null  object
 8   Male Students [Public School] 1998-99                             46576 non-null  object
 9   Female Students [Public School] 1998-99                           46576 non-null  object
 10  American Indian/Alaska Native Students [Public School] 1998-99    51629 non-null  object
 11  Asian or Asian/Pacific Islander Students [Public School] 1998-99  51629 non-null  object
 12  Hispanic Students [Public School] 1998-99                         51629 non-null  object
 13  Black or African American Students [Public School] 1998-99        51629 non-null  object
 14  White Students [Public School] 1998-99                            51629 non-null  object
 15  Full-Time Equivalent (FTE) Teachers [Public School] 1998-99       52433 non-null  object
 16  Pupil/Teacher Ratio [Public School] 1998-99                       52433 non-null  object
 17  Free Lunch Eligible [Public School] 1998-99                       51629 non-null  object
 18  School-wide Title I [Public School] 1999-00                       52433 non-null  object
 19  Total Students All Grades (Excludes AE) [Public School] 1999-00   52433 non-null  object
 20  Free and Reduced Lunch Students [Public School] 1999-00           46576 non-null  object
 21  Male Students [Public School] 1999-00                             46576 non-null  object
 22  Female Students [Public School] 1999-00                           46576 non-null  object
 23  American Indian/Alaska Native Students [Public School] 1999-00    51629 non-null  object
 24  Asian or Asian/Pacific Islander Students [Public School] 1999-00  51629 non-null  object
 25  Hispanic Students [Public School] 1999-00                         51629 non-null  object
 26  Black or African American Students [Public School] 1999-00        51629 non-null  object
 27  White Students [Public School] 1999-00                            51629 non-null  object
 28  Full-Time Equivalent (FTE) Teachers [Public School] 1999-00       52433 non-null  object
 29  Pupil/Teacher Ratio [Public School] 1999-00                       52433 non-null  object
 30  Free Lunch Eligible [Public School] 1999-00                       51629 non-null  object
 31  School-wide Title I [Public School] 2000-01                       52433 non-null  object
 32  Total Students All Grades (Excludes AE) [Public School] 2000-01   52433 non-null  object
 33  Free and Reduced Lunch Students [Public School] 2000-01           46576 non-null  object
 34  Male Students [Public School] 2000-01                             46576 non-null  object
 35  Female Students [Public School] 2000-01                           46576 non-null  object
 36  American Indian/Alaska Native Students [Public School] 2000-01    51629 non-null  object
 37  Asian or Asian/Pacific Islander Students [Public School] 2000-01  51629 non-null  object
 38  Hispanic Students [Public School] 2000-01                         51629 non-null  object
 39  Black or African American Students [Public School] 2000-01        51629 non-null  object
 40  White Students [Public School] 2000-01                            51629 non-null  object
 41  Full-Time Equivalent (FTE) Teachers [Public School] 2000-01       52433 non-null  object
 42  Pupil/Teacher Ratio [Public School] 2000-01                       52433 non-null  object
 43  Free Lunch Eligible [Public School] 2000-01                       51629 non-null  object
 44  School-wide Title I [Public School] 2001-02                       52433 non-null  object
 45  Total Students All Grades (Excludes AE) [Public School] 2001-02   52433 non-null  object
 46  Free and Reduced Lunch Students [Public School] 2001-02           46576 non-null  object
 47  Male Students [Public School] 2001-02                             46576 non-null  object
 48  Female Students [Public School] 2001-02                           46576 non-null  object
 49  American Indian/Alaska Native Students [Public School] 2001-02    51629 non-null  object
 50  Asian or Asian/Pacific Islander Students [Public School] 2001-02  51629 non-null  object
 51  Hispanic Students [Public School] 2001-02                         51629 non-null  object
 52  Black or African American Students [Public School] 2001-02        51629 non-null  object
 53  White Students [Public School] 2001-02                            51629 non-null  object
 54  Full-Time Equivalent (FTE) Teachers [Public School] 2001-02       52433 non-null  object
 55  Pupil/Teacher Ratio [Public School] 2001-02                       52433 non-null  object
 56  Free Lunch Eligible [Public School] 2001-02                       51629 non-null  object
 57  School-wide Title I [Public School] 2002-03                       52433 non-null  object
 58  Total Students All Grades (Excludes AE) [Public School] 2002-03   52433 non-null  object
 59  Free and Reduced Lunch Students [Public School] 2002-03           46576 non-null  object
 60  Male Students [Public School] 2002-03                             46576 non-null  object
 61  Female Students [Public School] 2002-03                           46576 non-null  object
 62  American Indian/Alaska Native Students [Public School] 2002-03    51629 non-null  object
 63  Asian or Asian/Pacific Islander Students [Public School] 2002-03  51629 non-null  object
 64  Hispanic Students [Public School] 2002-03                         51629 non-null  object
 65  Black or African American Students [Public School] 2002-03        51629 non-null  object
 66  White Students [Public School] 2002-03                            51629 non-null  object
 67  Full-Time Equivalent (FTE) Teachers [Public School] 2002-03       52433 non-null  object
 68  Pupil/Teacher Ratio [Public School] 2002-03                       52433 non-null  object
 69  Free Lunch Eligible [Public School] 2002-03                       51629 non-null  object
dtypes: object(70)
memory usage: 37.3+ MB

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,Agency ID - NCES Assigned [Public School] Latest available year,County Number [Public School] 2019-20,School-wide Title I [Public School] 1998-99,Total Students All Grades (Excludes AE) [Public School] 1998-99,Free and Reduced Lunch Students [Public School] 1998-99,Male Students [Public School] 1998-99,Female Students [Public School] 1998-99,...,Male Students [Public School] 2002-03,Female Students [Public School] 2002-03,American Indian/Alaska Native Students [Public School] 2002-03,Asian or Asian/Pacific Islander Students [Public School] 2002-03,Hispanic Students [Public School] 2002-03,Black or African American Students [Public School] 2002-03,White Students [Public School] 2002-03,Full-Time Equivalent (FTE) Teachers [Public School] 2002-03,Pupil/Teacher Ratio [Public School] 2002-03,Free Lunch Eligible [Public School] 2002-03
0,"=""03-MM""",Florida,120150006730,1201500,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
1,113-H-W-4,FLORIDA,120144008827,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,118-E-SW-5,FLORIDA,120144008672,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
3,12-E-C-1,Florida,120144007627,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
4,132-M-W-4,FLORIDA,120144008872,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†

In [50]:
# create new dataframe for years 2003-2008
year2003 = [col for col in merged.columns if '2003-04' in col]
year2004 = [col for col in merged.columns if '2004-05' in col]
year2005 = [col for col in merged.columns if '2005-06' in col]
year2006 = [col for col in merged.columns if '2006-07' in col]
year2007 = [col for col in merged.columns if '2007-08' in col]

total = all_years + year2003 + year2004 + year2005 + year2006 + year2007
years_2003_2008 = merged[total]
feature_selection = years_2003_2008.copy()
feature_selection.info()
groundtruth.to_csv('feature_selection_03_to_08.csv')
groundtruth.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68817 entries, 0 to 68816
Data columns (total 71 columns):
 #   Column                                                            Non-Null Count  Dtype
---  ------                                                            --------------  -----
 0   School Name                                                       68013 non-null  object
 1   State Name [Public School] Latest available year                  51629 non-null  object
 2   School ID - NCES Assigned [Public School] Latest available year   52433 non-null  object
 3   Agency ID - NCES Assigned [Public School] Latest available year   52433 non-null  object
 4   County Number [Public School] 2019-20                             52433 non-null  object
 5   School-wide Title I [Public School] 2003-04                       52433 non-null  object
 6   Total Students All Grades (Excludes AE) [Public School] 2003-04   52433 non-null  object
 7   Free and Reduced Lunch Students [Public School] 2003-04           46576 non-null  object
 8   Male Students [Public School] 2003-04                             46576 non-null  object
 9   Female Students [Public School] 2003-04                           46576 non-null  object
 10  American Indian/Alaska Native Students [Public School] 2003-04    51629 non-null  object
 11  Asian or Asian/Pacific Islander Students [Public School] 2003-04  51629 non-null  object
 12  Hispanic Students [Public School] 2003-04                         51629 non-null  object
 13  Black or African American Students [Public School] 2003-04        51629 non-null  object
 14  White Students [Public School] 2003-04                            51629 non-null  object
 15  Full-Time Equivalent (FTE) Teachers [Public School] 2003-04       52433 non-null  object
 16  Pupil/Teacher Ratio [Public School] 2003-04                       52433 non-null  object
 17  Free Lunch Eligible [Public School] 2003-04                       51629 non-null  object
 18  School-wide Title I [Public School] 2004-05                       52433 non-null  object
 19  Total Students All Grades (Excludes AE) [Public School] 2004-05   52433 non-null  object
 20  Free and Reduced Lunch Students [Public School] 2004-05           46576 non-null  object
 21  Male Students [Public School] 2004-05                             46576 non-null  object
 22  Female Students [Public School] 2004-05                           46576 non-null  object
 23  American Indian/Alaska Native Students [Public School] 2004-05    51629 non-null  object
 24  Asian or Asian/Pacific Islander Students [Public School] 2004-05  51629 non-null  object
 25  Hispanic Students [Public School] 2004-05                         51629 non-null  object
 26  Black or African American Students [Public School] 2004-05        51629 non-null  object
 27  White Students [Public School] 2004-05                            51629 non-null  object
 28  Full-Time Equivalent (FTE) Teachers [Public School] 2004-05       52433 non-null  object
 29  Pupil/Teacher Ratio [Public School] 2004-05                       52433 non-null  object
 30  Free Lunch Eligible [Public School] 2004-05                       51629 non-null  object
 31  Locale [Public School] 2005-06                                    52433 non-null  object
 32  School-wide Title I [Public School] 2005-06                       52433 non-null  object
 33  Total Students All Grades (Excludes AE) [Public School] 2005-06   52433 non-null  object
 34  Free and Reduced Lunch Students [Public School] 2005-06           46576 non-null  object
 35  Male Students [Public School] 2005-06                             46576 non-null  object
 36  Female Students [Public School] 2005-06                           46576 non-null  object
 37  American Indian/Alaska Native Students [Public School] 2005-06    51629 non-null  object
 38  Asian or Asian/Pacific Islander Students [Public School] 2005-06  51629 non-null  object
 39  Hispanic Students [Public School] 2005-06                         51629 non-null  object
 40  Black or African American Students [Public School] 2005-06        51629 non-null  object
 41  White Students [Public School] 2005-06                            51629 non-null  object
 42  Full-Time Equivalent (FTE) Teachers [Public School] 2005-06       52433 non-null  object
 43  Pupil/Teacher Ratio [Public School] 2005-06                       52433 non-null  object
 44  Free Lunch Eligible [Public School] 2005-06                       51629 non-null  object
 45  School-wide Title I [Public School] 2006-07                       52433 non-null  object
 46  Total Students All Grades (Excludes AE) [Public School] 2006-07   52433 non-null  object
 47  Free and Reduced Lunch Students [Public School] 2006-07           46576 non-null  object
 48  Male Students [Public School] 2006-07                             46576 non-null  object
 49  Female Students [Public School] 2006-07                           46576 non-null  object
 50  American Indian/Alaska Native Students [Public School] 2006-07    51629 non-null  object
 51  Asian or Asian/Pacific Islander Students [Public School] 2006-07  51629 non-null  object
 52  Hispanic Students [Public School] 2006-07                         51629 non-null  object
 53  Black or African American Students [Public School] 2006-07        51629 non-null  object
 54  White Students [Public School] 2006-07                            51629 non-null  object
 55  Full-Time Equivalent (FTE) Teachers [Public School] 2006-07       52433 non-null  object
 56  Pupil/Teacher Ratio [Public School] 2006-07                       52433 non-null  object
 57  Free Lunch Eligible [Public School] 2006-07                       51629 non-null  object
 58  School-wide Title I [Public School] 2007-08                       52433 non-null  object
 59  Total Students All Grades (Excludes AE) [Public School] 2007-08   52433 non-null  object
 60  Free and Reduced Lunch Students [Public School] 2007-08           46576 non-null  object
 61  Male Students [Public School] 2007-08                             46576 non-null  object
 62  Female Students [Public School] 2007-08                           46576 non-null  object
 63  American Indian/Alaska Native Students [Public School] 2007-08    51629 non-null  object
 64  Asian or Asian/Pacific Islander Students [Public School] 2007-08  51629 non-null  object
 65  Hispanic Students [Public School] 2007-08                         51629 non-null  object
 66  Black or African American Students [Public School] 2007-08        51629 non-null  object
 67  White Students [Public School] 2007-08                            51629 non-null  object
 68  Full-Time Equivalent (FTE) Teachers [Public School] 2007-08       52433 non-null  object
 69  Pupil/Teacher Ratio [Public School] 2007-08                       52433 non-null  object
 70  Free Lunch Eligible [Public School] 2007-08                       51629 non-null  object
dtypes: object(71)
memory usage: 37.8+ MB

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,Agency ID - NCES Assigned [Public School] Latest available year,County Number [Public School] 2019-20,School-wide Title I [Public School] 1998-99,Total Students All Grades (Excludes AE) [Public School] 1998-99,Free and Reduced Lunch Students [Public School] 1998-99,Male Students [Public School] 1998-99,Female Students [Public School] 1998-99,...,Male Students [Public School] 2002-03,Female Students [Public School] 2002-03,American Indian/Alaska Native Students [Public School] 2002-03,Asian or Asian/Pacific Islander Students [Public School] 2002-03,Hispanic Students [Public School] 2002-03,Black or African American Students [Public School] 2002-03,White Students [Public School] 2002-03,Full-Time Equivalent (FTE) Teachers [Public School] 2002-03,Pupil/Teacher Ratio [Public School] 2002-03,Free Lunch Eligible [Public School] 2002-03
0,"=""03-MM""",Florida,120150006730,1201500,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
1,113-H-W-4,FLORIDA,120144008827,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,118-E-SW-5,FLORIDA,120144008672,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
3,12-E-C-1,Florida,120144007627,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
4,132-M-W-4,FLORIDA,120144008872,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†

In [51]:
# create new dataframe for years 2008-2018
year2008 = [col for col in merged.columns if '2008-09' in col]
year2009 = [col for col in merged.columns if '2009-10' in col]
year2010 = [col for col in merged.columns if '2010-11' in col]
year2011 = [col for col in merged.columns if '2011-12' in col]
year2012 = [col for col in merged.columns if '2012-13' in col]
year2013 = [col for col in merged.columns if '2013-14' in col]
year2014 = [col for col in merged.columns if '2014-15' in col]
year2015 = [col for col in merged.columns if '2015-16' in col]
year2016 = [col for col in merged.columns if '2016-17' in col]
year2017 = [col for col in merged.columns if '2017-18' in col]
year2018 = [col for col in merged.columns if '2018-19' in col]

total = (all_years + year2008 + year2009 + year2010 + year2011 + year2012 + year2013 + year2014 + year2015 + year2016 +
        year2017 + year2018)
years_2008_2018 = merged[total]
modeling = years_2008_2018.copy()
modeling.info()
modeling.to_csv('modeling_2008_to_2018.csv')
modeling.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 68817 entries, 0 to 68816
Columns: 170 entries, School Name to Free Lunch Eligible [Public School] 2018-19
dtypes: object(170)
memory usage: 89.8+ MB

,School Name,State Name [Public School] Latest available year,School ID - NCES Assigned [Public School] Latest available year,Agency ID - NCES Assigned [Public School] Latest available year,County Number [Public School] 2019-20,School-wide Title I [Public School] 2008-09,Total Students All Grades (Excludes AE) [Public School] 2008-09,Free and Reduced Lunch Students [Public School] 2008-09,Male Students [Public School] 2008-09,Female Students [Public School] 2008-09,...,American Indian/Alaska Native Students [Public School] 2018-19,Asian or Asian/Pacific Islander Students [Public School] 2018-19,Hispanic Students [Public School] 2018-19,Black or African American Students [Public School] 2018-19,White Students [Public School] 2018-19,Nat. Hawaiian or Other Pacific Isl. Students [Public School] 2018-19,Two or More Races Students [Public School] 2018-19,Full-Time Equivalent (FTE) Teachers [Public School] 2018-19,Pupil/Teacher Ratio [Public School] 2018-19,Free Lunch Eligible [Public School] 2018-19
0,"=""03-MM""",Florida,120150006730,1201500,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
1,113-H-W-4,FLORIDA,120144008827,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
2,118-E-SW-5,FLORIDA,120144008672,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
3,12-E-C-1,Florida,120144007627,1201440,†,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†
4,132-M-W-4,FLORIDA,120144008872,1201440,12095,†,†,†,†,†,...,†,†,†,†,†,†,†,†,†,†

In [40]:
# create new dataframe for years 2014-2019
#year2014 = [col for col in merged.columns if '2014-15' in col]
#year2015 = [col for col in merged.columns if '2015-16' in col]
#year2016 = [col for col in merged.columns if '2016-17' in col]
#year2017 = [col for col in merged.columns if '2017-18' in col]
#year2018 = [col for col in merged.columns if '2018-19' in col]

#total = all_years + year2014 + year2015 + year2016 + year2017 + year2018
#years_2014_2019 = merged[total]
#model_selection = years_2014_2019.copy()
#model_selection.info()
#model_selection.head(10)
#model_selection.to_csv('model_selection_start_to_end.csv')

In [39]:
# create new dataframe for years 2019-2021 (Note 2020-2021 data is not available)
#year2019 = [col for col in merged.columns if '2019-20' in col]

#total = all_years + year2019
#year_2019 = merged[total]
#test = year_2019.copy()
#test.info()
#test.head(10)
#test.to_csv('test_data_start_to_end.csv')